.container__1 {
  grid-area: main;
  align-self: center;
  justify-self: center;
}

.button__1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  background: transparent;
  padding: 0;
  font-size: initial;
  font-family: "Mukta", sans-serif;
}

/* set tổng chiều rộng của button ~192px */
.learn-more__1 {
  width: 12rem;
  height: auto;
}

.circle__1 {
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.icon__1 {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  background: #fff;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

/* set đường ngang cho mũi tên bằng width height nhưng tạm thời ẩn nó đi bằng cách loại bỏ background */
.arrow__1 {
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

/* Tạo ra dấu lớn của mũi tên bằng cách sử dụng border của pseudo và quay nó 45deg */
.arrow__1::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.button-text__1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #111;
  font-weight: 700;
  margin: 0 0 0 1.85rem;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  padding: 0.75rem 0;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.learn-more__1:hover .circle__1 {
  width: 100%;
}

.learn-more__1:hover .icon__1.arrow__1 {
  background: #fff;
  transform: translate(1rem, 0);
}

.learn-more__1:hover .button-text__1 {
  color: #fff;
}

/*  
    THAM KHẢO TẠI
    ig: /coding_.master 
*/


/* 
    transition-timing-function: cubic-bezier(0.65, 0, 0.076, 1);
    Quy định cách thức chuyển động
    -----------------------
    có các giá trị:
    ease: chậm → nhanh → chậm
    ease-in: chậm →
    ease-out: → chậm
    ease-in-out: chậm → __ → chậm
    linear: chuyển động đều
*/